@media (max-width: 425px) {
    .Toastify__toast-container {
        font-size: 14px;
        top: 50px;
        left: 0;
        right: 45px;
        margin: 0 auto;
        max-width: 50%;
    }

    .Toastify__toast {
        min-height: 40px;
        padding: 8px 12px;
    }
}